:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgSize{
  height: 600px;
}
.cardimg{
  height: 180px;
}
.form_container{
  width: 30%;
}
.active{
  color: blue;
}

.toastSuccess{
  color: green;
}
.toastError{
  color: red;
}
.template{
min-height: 555px;
background-color: #212B37;
}